<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Menu animado
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
body
	nav#main-nav.main-nav
		ul.menu
			li.menu__item: a.menu__link(href="") Inicio
			li.menu__item: a.menu__link(href="") Servivios
			li.menu__item: a.menu__link(href="") Productos
			li.menu__item: a.menu__link(href="") Clientes
		div.menu-bar
			.uno
			.dos
			.tres
	